.welcome-img-d {
	width: 25%;
	float: right;
	padding-left: 10px;
	padding-bottom: 5px;
}

.welcome-img-m {
	display: none;
}

.welcome-text img{
	float: left;
	width: 100%;
	background-color: #3a6392;
	padding: 5px;
}

.lh-col {
	padding-right: 5px;
}

.rh-col {
	padding-left: 5px;
}

.rh-col * {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align: center;
}

/* mobile devices */

@media (max-width: 767px){
	.lh-col, .rh-col {
		padding: 0 5px;
	}

	.welcome-text {
		text-align: center;
		margin: 0 auto;
	}
	
	.welcome-img-d {
		display: none;
	}

	.welcome-img-m {
		width: 50%;
		display: inline-block;
	}
}

/* very small devices */

@media (max-width: 500px){
	.welcome-img img {
		width: 70%;
	}
}