.member {
	background-color: #eee;
	padding: 8px;
	border-radius: 3px;
	margin: 5px 0;
	font-size: 1.1em;
}

.member input {
	border: 1px solid grey;
	border-radius: 3px;
	margin-right: 5px;
}

.member .pos {
	width: 40px;
}

.action-holder {
	display: inline-block;
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;
}

.action-holder > span {
	display: inline;
	font-size: 25px;
	cursor: pointer;
}

span.glyphicon-pencil {
	font-size: 22px;
}

span.glyphicon-remove {
	color: red;
}